/* Apply a global background color */
body, html {
  height: 100%;
  margin: 0;
  background-color: #0088CE;
  color: #FFFFFF; /* Sets global text color to white */
}

/* Ensures all elements within the app inherit the background color unless otherwise specified */
*, *:before, *:after {
  box-sizing: border-box;
  background-color: inherit;
}

/* You might also want to style the headers globally */
h1, h2, h3, h4, h5, h6 {
  color: inherit; /* Ensures header tags inherit the white color */
}
